.osfx-options label {
	font-style: italic;
	font-size: 0.9em;
}

.osfx-options table {
	margin: 1em 0 1em 0;
}

table.podlove_alternating th {
	font-weight: bold;
	padding: 1px;
}

table.podlove_alternating {
	width: 100%;
	border-bottom: 1px solid #999;
}
table.podlove_alternating th {
	text-align: left;
	border-bottom: 1px solid #999;
}
table.podlove_alternating td {
	padding: 5px;
	height: 24px;
}
table.podlove_alternating tr:nth-child(even) {
	background: #EAEAEA;
}

td.osfx_template_action_row {
	vertical-align: top;
}

td.osfx_template_options_row {
	width: 425px;
}

div.osfx_template_source_wrapper {
	display: none;
	margin: 10px 0 0 20px;
}

input.osfx_template_id {
	width: 425px;
}

span.osfx_template_triangle {
	cursor: pointer;
}

div.osfx_template_source_wrapper label {
	display: block;
	margin-bottom: 1em;
}

h4.osfx_template_id {
	display: inline-block;
	margin: 0px 0 0px 5px;
}

div#osfx_tabs_wrapper {
	border: 1px solid #d3d3d3;
	border-top: none;
}

div#osfx_tabs_wrapper p {
	padding: 1em;
	margin: 0px;
}

div#shownotes_meta_field h2.nav-tab-wrapper {
	padding-bottom: 0px;
	margin-bottom: 0px;
}

div#shownotes_meta_field span.nav-tab:hover {
	cursor: pointer;
}

div#shownotes_meta_field span.nav-tab-active {
	background-color: #FFF;
	border-bottom: none;
}

div.osfx-tab-container {
	display: none;
}

div.osfx-visible {
	display: block;
}

div#ace-shownotes {
    position: absolute;
    margin: 0;
    height: 261px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

div.ace-shownotes {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

p#osfx_import_container {
}

@font-face {
	font-family: 'Podlove';
	src:url('../fonts/Podlove.eot');
	src:url('../fonts/Podlove.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Podlove.woff') format('woff'),
		url('../fonts/Podlove.ttf') format('truetype'),
		url('../fonts/Podlove.svg#Podlove') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'Podlove';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="podlove-icon-"] {
*/
.delete_affiliate_program,
.delete_template,
.clone_template {
	font-family: 'Podlove';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.clone_template:before {
	content: "+";
	font-size: 1.5em;
	cursor: pointer;
}

.delete_affiliate_program:before,
.delete_template:before {
	content: "\f00d";
	color: red;
	font-size: 1.5em;
	cursor: pointer;
}

#add_affiliate_program,
#add_template {
	font-weight: bold;
	margin-top: -1em;
}

.isValid,
.isInValid {
	display: inline-block;
	background-repeat: no-repeat;
	height: 35px;
	line-height: 30px;
	font-size: 20px;
	padding-left: 40px;
	background-size: 30px;
}

.isValid {
	background-image: url('img/ico_checkmark-circled.svg');
	color: #5E9615;
}

.isInValid {
	background-image: url('img/ico_close-circled.svg');
	color: #B50000;
}